@use "./variables" as *;

@mixin button_style($button_radious) {
  display: block;
  margin: 10px auto;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  color: $button_text_color;
  border-radius: $button_radious;
  background-color: $button_primary_color;
  &:hover {
    background-color: $button_hover_color;
    cursor: pointer;
  }
}

@mixin font_size($unit) {
  @if $unit == s {
    font-size: 0.75rem;
  } @else if $unit == m {
    font-size: 1rem;
  } @else if $unit == l {
    font-size: 1.25rem;
  } @else {
    font-size: none;
  }
}

